.DS_Store

node_modules/
dist/

src-tauri/target/

*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*


resources/targets/*
!resources/targets/.keep
resources/runtime/
resources/gateway/
resources/app-icon.png
.cache/
.DS_Store